body {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background: linear-gradient(to right bottom, #e1b382, #c89666);
  }
  .App {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    flex-wrap: wrap;
    /* background-color: black; */
    /* color: white; */
  }
  .contain {
    height: 15cm;
    width: 13cm;
    background-color: #12343b;
    color: white;
    margin-top: 2cm;
    /* margin-left: 12cm; */
    border-radius: 2cm;
    margin-bottom: 1cm;
    padding-top: 0.3cm;
  }
  .deletetask {
    background-color: lightseagreen;
    color: white;
    border-radius: 0.5cm;
  }
  .addbutton {
    background-color: #f1af71;
    color: white;
    height: 1cm;
    width: 1cm;
    border-radius: 1cm;
    margin-left: 0.2cm;
  }
  .taskinput {
    height: 1cm;
    width: 8cm;
    border-radius: 1cm;
    font-size: x-large;
    padding-left: 0.5cm;
  }
  .todos {
    border: black;
    height: 0.7cm;
    width: 6cm;
    border-radius: 0.5cm;
    margin-top: 0.5cm;
    background-color: rgb(176, 175, 175);
    font-size: large;
    padding-left: 0.2cm;
  }
  .edittask {
    background-color: #e2d029;
    color: black;
    border-radius: 0.5cm;
    margin-left: 0.2cm;
    margin-right: 0.2cm;
  }

  .completetask {
    background-color: #ff6c6c;
    border-radius: 0.5cm;
    color: white;
    margin-left: 0.2cm;
  }
  